body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}


.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #00509e;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #004080;
    color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: auto;
  height: auto; /* 画面いっぱいに表示 */
  background-image: url('sky.jpg'); /* 画像を背景に設定 */
  background-size: cover; /* 画像を全体にフィット */
  background-position: center; /* 画像の位置を中央に */
  background-repeat: no-repeat; /* 繰り返しを防ぐ */
}

.logo img {
  width: 50px;  /* 幅を150pxに */
  height: 50px;   /* 高さは自動調整 */
}
.background{
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.851);
    text-shadow: 2px 2px 5px rgba(0.5, 0.5, 0.5, 2.0); /* 文字に影をつけて見やすく */
}


/* ここから下がハンバーガーメニューに関するCSS */
  
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #ffffff;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background-image: url('river.jpg'); /* 画像を背景に設定 */
  background-size: cover; /* 画像を全体にフィット */
  background-position: center; /* 画像の位置を中央に */
  background-repeat: no-repeat; /* 繰り返しを防ぐ */
  transition: .5s;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 2.0); /* 文字に影を追加 */
  font-weight: bold;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 80%;/* メニューを画面に入れる */
}
